* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: silkscreen;
    src: url('/assets/fonts/Silkscreen/slkscr.ttf');
}

body {
    background-color: #666;
    text-align: center;
    margin: 60px 0 0 0;
    font-family: silkscreen, sans-serif;
}

canvas {
    border: solid 6px white;
    background: cornflowerblue;
}
