* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: silkscreen;
    src: url('/assets/fonts/Silkscreen/slkscr.ttf');
}

body {
    background-color: #666;
    position: relative;
    text-align: center;
    padding: 10px 0 0 0;
    font-family: silkscreen, sans-serif;
    height: 100vh;
    max-height: 100vh;
}

canvas {
    aspect-ratio: 1 / 1;
    border: solid 6px white;
    background: cornflowerblue;
    position: relative;
    width: 50%;
    height: 50%;
    min-width: 300px;
    min-height: 300px;
}

.indicaciones, .tabla-container {
    display: none;
    padding-inline: 1%;
}

.controles-titulo, .niveles-titulo,.control, .nivel, .puntaje {
    width: 100%;
    margin-top: 5%;
    font-size: 1.5em;
}

.control, .nivel {
    font-size: 1em;
}


.stats {
    
    font-size: 1.2em;
    padding-block: 5px;
}



/*-----------------ESTILOS DE LOS BOTONES-------------------*/

.botones-container {

    display: flex;
    justify-content: center;
    
}

.botonera {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.boton {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.direccion {
    *border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direccion-izquierda-abajo-derecha {
    display: flex;
}


.boton-direccion {
    /* Es un grid de 9x9 y todas las medidas parten de un número de --pixel's */
    --pixel : calc(100% / 9);
    aspect-ratio: 1 / 1;
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    *background-color: aquamarine;
}
.bd-fondo {
    position: absolute;
    top: var(--pixel);
    left: var(--pixel);
    width: calc(var(--pixel) * 7);
    height: calc(var(--pixel) * 7);
    background-color: grey;
}
.bd-borde-arriba,.bd-borde-abajo, .bd-borde-izquierda, .bd-borde-derecha {
    background-color: black;
    height: var(--pixel);
    width: calc(var(--pixel) * 7);
    position: absolute;
    left: var(--pixel);
}
.bd-borde-abajo {
    top: calc(var(--pixel) * 8);
}
.bd-borde-izquierda, .bd-borde-derecha {
    height: calc(var(--pixel) * 7);
    width: var(--pixel);
    top: var(--pixel);
    left: 0;
}
.bd-borde-derecha {
    left: calc(var(--pixel) * 8);
}
.bd-flecha-uno, .bd-flecha-dos, .bd-flecha-tres {
    background-color: black;
    width: calc(var(--pixel) * 5);
    height: var(--pixel);
    position: absolute;
    top: calc(var(--pixel) * 4);
    left: calc(var(--pixel) * 2);
}
.bd-flecha-dos {
    transform: rotate(90deg)
}
.bd-flecha-tres {
    top: calc(var(--pixel) * 3);
    width: calc(var(--pixel) * 3);
    left: calc(var(--pixel) * 3);
    
}

.boton-derecha {
    transform: rotate(90deg);
}
.boton-abajo {
    transform: rotate(180deg);
}
.boton-izquierda {
    transform: rotate(270deg);
}

/* BOTON TURBO */

.boton-turbo {
    margin-top: 5px;
    /* ES UN GRID DE 18x9 */
    --pixel-bt : calc(100% / 18);
    aspect-ratio: 2 / 1;
    width: 120px;
    height: 60px;
    display: block;
    position: relative;
    *background-color: aquamarine;
}
.bt-fondo {
    position: absolute;
    top: calc(var(--pixel-bt) * 2);
    left: calc(var(--pixel-bt));
    width: calc(var(--pixel-bt) * 16);
    height: calc(var(--pixel-bt) * 14);
    background-color: grey;
}

.bt-borde-arriba, .bt-borde-abajo {
    background-color: black;
    height: calc(var(--pixel-bt) * 2);
    width: calc(var(--pixel-bt) * 16);
    position: absolute;
    left: var(--pixel-bt);
}
.bt-borde-abajo {
    position: absolute;
    top: calc(var(--pixel-bt) * 16);
}

.bt-borde-izquierda, .bt-borde-derecha {
    background-color: black;
    height: calc(var(--pixel-bt) * 14);
    width: var(--pixel-bt);
    position: absolute;
    top: calc(var(--pixel-bt)*2);
}
.bt-borde-derecha {
    left: calc(var(--pixel-bt) * 17);
}

.bt-etiqueta-uno, .bt-etiqueta-dos, .bt-etiqueta-tres {
    background-color: black;
    height: calc(var(--pixel-bt) * 2);
    width: var(--pixel-bt);
    position: absolute;
    top: calc(var(--pixel-bt) * 10);
    left: calc(var(--pixel-bt) * 2);
}

.bt-etiqueta-dos {
    width: calc(var(--pixel-bt) * 14);
    top: calc(var(--pixel-bt) * 12);
}

.bt-etiqueta-tres {
    left: calc(var(--pixel-bt) * 15);
}

.etiqueta-turbo, .etiqueta-turbo:active, .etiqueta-turbo:link, .etiqueta-turbo:visited {
    font-size: calc(var(--pixel-bt) * 20);
    position: absolute;
    top: calc(var(--pixel-bt) * 6);
    left: calc(var(--pixel-bt) * 4.5);
}

.activo {
    background-color: #666;
}

.boton-direccion:active > .bd-fondo {
    background-color: #666;
}

.boton-turbo:active > .bt-fondo {
    background-color: #666;
}

/* BOTON TURBO */
.btn-iniciar {
    --btn-iniciar-pixel: calc(100% / 18);

}
.btn-iniciar-fondo {

}
.btn-iniciar-borde-arriba {

}
.btn-iniciar-borde-abajo {
    
}
.btn-iniciar-borde-izquierda {

}
.btn-iniciar-borde-derecha {

}
.btn-iniciar-caption, .btn-iniciar-caption:active{
    top: calc(var(--pixel-bt) * 6.5);
    left: calc(var(--pixel-bt) * 3.75);
}

/* BOTON INICIAR */




/* BOTON INICIAR */

/* BOTON GENERICO */

.boton-pixel {
    --btn-pixel : 6px;
    --btn-px-color-fondo: grey;
    --btn-px-color-borde: black;
    --btn-px-font-size : 20px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-px-fondo {
    position: absolute;
    top: calc(var(--btn-pixel));
    left: calc(var(--btn-pixel));
    width: calc(100% - var(--btn-pixel) * 2);
    height: calc(100% - var(--btn-pixel) * 2);
    background-color: var(--btn-px-color-fondo);
    z-index: 0;
}

.btn-px-borde-arriba, .btn-px-borde-abajo, .btn-px-borde-izquierda, .btn-px-borde-derecha {
    position: absolute;
    top: 0px;
    left: var(--btn-pixel);
    background-color: var(--btn-px-color-borde);
    height: var(--btn-pixel);
    width: calc(100% - var(--btn-pixel) * 2);
}
.btn-px-borde-abajo {
    position: absolute;
    top: calc(100% - var(--btn-pixel));
}

.btn-px-borde-izquierda, .btn-px-borde-derecha {
    height: calc(100% - var(--btn-pixel) * 2);
    width: var(--btn-pixel);
    top: var(--btn-pixel);
    left: 0px;
}
.btn-px-borde-derecha {
    left: calc(100% - var(--btn-pixel));
}

.btn-px-caption, .btn-px-caption:active, .btn-px-caption:link, .btn-px-caption:visited {
    font-size: var(--btn-px-font-size);
    z-index: 1;
}

.boton-pixel:active > .btn-px-fondo {
    background-color: #666;
}


/* BOTON GENERICO */
/*-----------------ESTILOS DE LOS BOTONES-------------------*/

/* ---------------------PANTALLAS DE INICIO - LOGIN - HIGHSCORE - GAMEOVER --------------------- */

.pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
}

.popup {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 20px;
    --pu-pixel: 10px
}


.pu-fondo,.pu-borde-izquierda, .pu-borde-derecha, .pu-borde-arriba, .pu-borde-abajo {
    background-color: black;
    position: absolute;
    width: var(--pu-pixel);
    height: calc(100% - var(--pu-pixel)* 2);
    left: 0px;
}

.pu-fondo {
    background-color: aqua;
    width: calc(100% - var(--pu-pixel) * 2);
    height: calc(100% - var(--pu-pixel) * 2);
    left: var(--pu-pixel);
    z-index: -1;

}

.pu-borde-derecha{
    left: calc(100% - var(--pu-pixel));
}

.pu-borde-arriba, .pu-borde-abajo {
    height: var(--pu-pixel);
    width: calc(100% - var(--pu-pixel)* 2);
    top: 0px;
    left: var(--pu-pixel);
}
.pu-borde-abajo {
  top: calc(100% - var(--pu-pixel));
}

.popup-inicio {
    height: 80%;
}

.popup-login {

}
.popup-gameover {

}

.popup-nivel {
    width: 40%;
}

.popup-nivel-caption {
    font-size: 2rem;
}

.pantalla-gameover-botonera {
    width: 100%;
    *height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pu-gameover-caption, .pu-gameover-puntaje, .btn-gameover-jugar-container {
    font-size: 30px
}

.btn-gameover-jugar-container, .input-gameover-puntaje-container {
    width: 240px;
    height: 60px;

}

.input-gameover-puntaje, .input-gameover-puntaje:active, .input-gameover-puntaje:focus, .input-gameover-puntaje-exterior:active, .input-gameover-puntaje-exterior:focus-visible {
    cursor: text;
    outline: none;
}

.input-gameover-puntaje,.input-gameover-puntaje-exterior:active > .input-gameover-puntaje {
    background-color: white;
}

.input-gameover-puntaje {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    overflow: hidden;
}


.boton-gameover-jugar, .boton-gameover-salir{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-gameover-salir-caption, .boton-gameover-jugar-caption {
    position: static;
    z-index: 1;
    *background-color: grey;
}




.popup-highscore {

}
.popup-pausa {
    width: 40%;
}



.caption-pausa {
    font-size: 2rem;
}

.btn-pausa-continuar-container, .btn-pausa-salir-container {
    height: 60px;
    width: 200px;
}

.boton-pausa-continuar {
    --btn-pixel : 6px;
    --btn-px-color-fondo: grey;
    --btn-px-color-borde: black;
    --btn-px-font-size : 20px;
}

.boton-pausa-continuar-caption, .boton-pausa-continuar-caption:active {
    top: calc(var(--btn-pixel) * 3.5);
}


/* ---------------------PANTALLAS DE INICIO - LOGIN - HIGHSCORE - GAMEOVER --------------------- */








.ocultar {
    display: none;
}

.blur {
    filter: blur(1rem);
}


/* MEDIA QUERYS */

@media screen and (min-width: 1024px) {
        .botonera {
            flex-direction: row;
            width: 30%;
            height: 140px;
            padding-top: 5px;
        }

        canvas {
            max-width: 30%;
            max-height: 30%;
            
        }



        .stats-container {
            display: flex;
            justify-content: center;
            
        }
        
        .stats {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }



        .tabla-container, .indicaciones {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 25%;
            max-height: 30%;
            max-width: 30%;
            overflow: auto;
        }

        .tabla-container {
            overflow: hidden;
        }

        .controles, .niveles, .tabla {
            list-style: none;
        }

        .nivel, .control, .puntaje {
            text-align: left;
        }

        .panel-central {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-inline: auto;
        }
}








/* MEDIA QUERYS */